# Import our data

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data Steven Rouk answer for error
# that occurred here.
%matplotlib inline
# col_names = ["year", "make", "model", "trim", "body", "transmission", "vin", "state", "condition",
#             "odometer", "color", "interior", "seller", "mmr", "sellingprice", "saledate"]
car_sales = pd.read_csv("resources/data/car_prices.csv", error_bad_lines=False)

/Users/alexhewitt/Documents/c964_wgu_capstone/env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 408163: expected 16 fields, saw 17\nSkipping line 417837: expected 16 fields, saw 17\nSkipping line 421291: expected 16 fields, saw 17\nSkipping line 424163: expected 16 fields, saw 17\n'
b'Skipping line 427042: expected 16 fields, saw 17\nSkipping line 427045: expected 16 fields, saw 17\nSkipping line 434426: expected 16 fields, saw 17\nSkipping line 444503: expected 16 fields, saw 17\nSkipping line 453796: expected 16 fields, saw 17\n'
b'Skipping line 461599: expected 16 fields, saw 17\nSkipping line 461614: expected 16 fields, saw 17\n'
b'Skipping line 492486: expected 16 fields, saw 17\nSkipping line 497010: expected 16 fields, saw 17\nSkipping line 497013: expected 16 fields, saw 17\nSkipping line 499085: expected 16 fields, saw 17\nSkipping line 501457: expected 16 fields, saw 17\nSkipping line 505301: expected 16 fields, saw 17\nSkipping line 505308: expected 16 fields, saw 17\nSkipping line 520463: expected 16 fields, saw 17\n'
b'Skipping line 528998: expected 16 fields, saw 17\nSkipping line 529011: expected 16 fields, saw 17\nSkipping line 529015: expected 16 fields, saw 17\nSkipping line 529624: expected 16 fields, saw 17\nSkipping line 548786: expected 16 fields, saw 17\nSkipping line 551224: expected 16 fields, saw 17\nSkipping line 554712: expected 16 fields, saw 17\n'

In [19]:
car_sales.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

# **Clean the data**

In [20]:
# Get datatypes of columns
car_sales.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr               int64
sellingprice      int64
saledate         object
dtype: object

In [21]:
# Drop data columns as to make modelling take less time, model may be less accurate though because of this
car_sales = car_sales.drop(['vin', 'mmr', 'saledate', 'seller', 'trim', 'state', 'condition',
                           'model'], axis = 1)

In [22]:
car_sales.head()

   year   make   body transmission  odometer  color interior  sellingprice
0  2015    Kia    SUV    automatic   16639.0  white    black         21500
1  2015    Kia    SUV    automatic    9393.0  white    beige         21500
2  2014    BMW  Sedan    automatic    1331.0   gray    black         30000
3  2015  Volvo  Sedan    automatic   14282.0  white    black         27750
4  2014    BMW  Sedan    automatic    2641.0   gray    black         67000

In [23]:
# Drop Null rows, since this is a large data set it won't effect it too much.
print(car_sales.isna().sum())

year                0
make            10301
body            13195
transmission    65353
odometer           94
color             749
interior          749
sellingprice        0
dtype: int64

In [24]:
car_sales.count()

year            558811
make            548510
body            545616
transmission    493458
odometer        558717
color           558062
interior        558062
sellingprice    558811
dtype: int64

In [25]:
car_sales = car_sales.dropna()

In [26]:
# Should all equal the same value
car_sales.count()

year            481791
make            481791
body            481791
transmission    481791
odometer        481791
color           481791
interior        481791
sellingprice    481791
dtype: int64

In [27]:
# Let's try and convert our data to numbers
# Turn the categories into numbers
dummies = pd.get_dummies(car_sales, drop_first = True)
dummies

,year,odometer,sellingprice,make_Aston Martin,make_Audi,make_BMW,make_Bentley,make_Buick,make_Cadillac,make_Chevrolet,...,interior_green,interior_off-white,interior_orange,interior_purple,interior_red,interior_silver,interior_tan,interior_white,interior_yellow,interior_—
0,2015,16639.0,21500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,9393.0,21500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014,1331.0,30000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,14282.0,27750,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014,2641.0,67000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558805,2011,66403.0,22800,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
558807,2012,54393.0,30800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
558808,2012,50561.0,34000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
558809,2015,16658.0,11100,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
558810,2014,15008.0,26700,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Create X (features matrix)
x = dummies.drop("sellingprice", axis = 1)

# Create y (labels)
y = dummies["sellingprice"]

# If running without a loaded model run the following code

In [29]:
# # Modelling
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split

# # Create model
# reg_model = RandomForestRegressor()

# # Split data
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

# # Fit model
# reg_model.fit(x_train, y_train);

# # Make predictions
# y_preds = reg_model.predict(x_test)
# y_preds

# # Score model
# reg_model.score(x_test, y_test)

# # Save a model
# import pickle

# pickle.dump(reg_model, open("random_forest_model.pk1", "wb"))

# If running from a loaded model run the following code

In [30]:
# Modelling
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pickle

# Create model
reg_model = RandomForestRegressor()
reg_model = pickle.load(open("random_forest_model.pk1", "rb"))

# Split data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

# # Fit model
# reg_model.fit(x_train, y_train);

# Make predictions
y_preds = reg_model.predict(x_test)
y_preds

# Score model
reg_model.score(x_test, y_test)

0.9400930517053682